<h1 class="login">Login</h1>

<h5 id="flash"><em><%= flash[:notice] %></em></h5>


<% if !logged_in? %>
<!-- form will POST to '/login' -->
<%= form_tag login_path, :id => 'login' do %>
  <%= label_tag "Username:" %>
  <%= text_field_tag :username %><br>

  <%= label_tag "Password:" %>
  <%= password_field_tag :password %><br>

  <%= submit_tag 'Login' %>
<% end %>

<% elsif logged_in? %>

<p> You are already logged in </p>
<%=button_to "Return to Homepage", index_path, method: :get%>

<%end%>