<h1 class="artist-name">Artist <%= @artist.name %></h1>

<div class="img">
	<% byebug %>
    <%= image_tag @artist.image_url, :class => 'alb-img'%>
</div>

<% if !@artist.ratings.empty? %>
    <h4 class="rating">Average Rating: <%= @artist.avg_rating %></h4>
<% end %>


<div class="all-songs">
<h4>All Songs</h4>
<%= button_to "All Songs by #{@artist.name}", artist_songs_path(@artist), method: :get, :class => 'song-btn' %>
</div>

<div class="album-grid">
<h4>All Albums</h4>
<% @artist.albums.each do |album| %>
<%= link_to image_tag(album.image_url, :class => 'alb'), artist_album_path(@artist, album) %><% end %>
</div>
