<h1>Artist <%= @artist.name %></h1>

<div class="img">
    <%= image_tag @artist.image_url %>
</div>
<% if !@artist.ratings.empty? %>
    <h2>Average Rating: <%= @artist.avg_rating %></h2>
<% end %>

<h5>All Songs</h5>
<%= button_to "All Songs by #{@artist.name}", artist_songs_path(@artist), method: :get %>

<h5>All Albums</h5>
<% @artist.albums.each do |album| %>
<%= link_to image_tag(album.image_url), artist_album_path(@artist, album) %>
<% end %>

