<h1 class="sign-up">Sign up</h1>

<h4 class="flash"><%= flash[:notice] %></h4>

<%= form_for @user do |f| %>
  <%= f.label :username %>
  <%= f.text_field :username %><br>
  <%= f.label :password %>
  <%= f.password_field :password %><br>

  <%= f.submit %>
<% end %>