<h1> USER SHOW PAGE</h1>

<h4>Search for Artists</h4>
<%=form_tag search_path, method: :post do %>
<%=text_field_tag(:search, params[:search])%>
<%=submit_tag "Search"%>
<%end%>


<p><%= @user.username %></p>

<% if current_user == @user %>
  <%= button_to 'Delete this Account', user_path(@user), method: :delete, data: { confirm: 'are u sure lol' } %>
<% end %>