
<%if logged_in? %>
    <br>
    <h4 class="title">Music Rating Database</h4>
    <%=form_tag search_artist_path, method: :post do %>
        <%=text_field_tag(:search, params[:search])%>
        <%=submit_tag "Search Artist"%>
    <%end%>

    <br><br>
    
    <h5 class="title">Top Rated Songs: </h5>
        <div class='top-rated'>
            <% @songs.each do |song| %>
                <%= link_to artist_song_path(song.artist, song), class: 'rated-item' do %>
                    <%= image_tag(song.album.image_url) %>
                    <span class='text-wrapper'>
                        <span class='top-rated-item'><%= song.name %></span>
                    </span>
                <% end %>
            <% end %>
        </div>
    <br><br>
    <h5 class="title"> Top Rated Albums: </h5>
        <div class='top-rated'>
            <% @albums.each do |album| %>
                <%=link_to artist_album_path(album.artist, album), class: 'rated-item' do %>
                    <%= image_tag(album.image_url) %>
                    <span class='text-wrapper'>
                        <span class='top-rated-item'><%= album.name %></span>
                    </span>
                <% end %>
            <%end%> 
        </div>
<%else%>
    <h1>Welcome!</h1>
<%end%>



